header {
  padding: 40px;
  background-color: #99ad7a;
  font-size: 1.2em;
}

li {
  transition: 0.4s;
  padding: 3px;
}
li:hover {
  transform: scale(1.18);
}

.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcccac;
  padding: 30px;
  margin-left: 175px;
  margin-right: 175px;
  border-radius: 10px;
}
